body:has(.requires-no-scroll) {
  overflow: hidden;
}

/* -------- FONTS -------- */

.h1 {
  font-size: 52px;
  font-weight: 300;
}

.h2 {
  font-size: 28px;
  font-weight: 300;
}

/* -------- BORDER RADIUS -------- */

.cornerRadiusNormal {
  border-radius: 12px;
}

.cornerRadiusSmall {
  border-radius: 2px;
}

.cornerRadiusMedium {
  border-radius: 6px;
}

.cornerRadius-6 {
  border-radius: 6px;
}

.cornerRadius-12 {
  border-radius: 12px;
}

.cornerRadius-18 {
  border-radius: 18px;
}

.cornerRadius-24 {
  border-radius: 24px;
}

.cornerRadius-30 {
  border-radius: 30px;
}

.cornerRadius-full {
  border-radius: 1000px;
}

.largeText {
  font-size: 28px;
  font-weight: 100;
}

.largeTextBold {
  font-size: 28px;
  font-weight: 300;
}

.mediumText {
  font-size: 22px;
  font-weight: 100;
}

.mediumTextBold {
  font-size: 22px;
  font-weight: 300;
}

.smallText {
  font-size: 18px;
  font-weight: 100;
}

.smallTextBold {
  font-size: 18px;
  font-weight: 300;
}

/* -------- TEXT COLORS -------- */

.greenText {
  color: #00d767;
}

.darkGreenText {
  color: #00933e;
}

.lightGreenText {
  color: #00e58a;
}

.purpleText {
  color: #7b49fb;
}

.lightPurpleText {
  color: #f8f2fd;
}

.yellowText {
  color: #ffd51e;
}

.redText {
  color: #ff4b5f;
}

.lightRedText {
  color: #ffcacb;
}

.backgroundLightGreyText {
  color: #f9fcff;
}

.backgroundGreyText {
  color: #f1f6fd;
}

.borderGreyText {
  color: #dfdfe2;
}

.textGreyText {
  color: #a8b6c7;
}

.darkGreyText {
  color: #6a6a6a;
}

.blackText {
  color: #1b143d;
}
.whiteText {
  color: #ffffff;
}

/* -------- TEXT ALIGN -------- */

.standard-text-align-center {
  text-align: center;
}

.standard-text-align-right {
  text-align: right;
}

.standard-text-align-left {
  text-align: left;
}

/* -------- BACKGROUND COLORS -------- */

.greenBackground {
  background-color: #00d767;
}

.darkGreenBackground {
  background-color: #00933e;
}

.lightGreenBackground {
  background-color: #e7fbed;
}

.purpleBackground {
  background-color: #7b49fb;
}

.lightPurpleBackground {
  background-color: #e9dcf4;
}

.yellowBackground {
  background-color: #ffd51e;
}

.redBackground {
  background-color: #ff4b5f;
}

.lightRedBackground {
  background-color: #ffcacb;
}

.backgroundLightGreyBackground {
  background-color: #e9eff9;
}

.backgroundGreyBackground {
  background-color: #f1f6fd;
}

.borderGreyBackground {
  background-color: #dfdfe2;
}

.textGreyBackground {
  background-color: #a8b6c7;
}

.blackBackground {
  background-color: #1b143d;
}

.orangeBackground {
  background-color: #d47737;
}

/* -------- BORDER RADIUS -------- */

/* -------- CLICKABLE -------- */

.clickable {
  cursor: auto;
}

.clickable:hover {
  cursor: pointer;
}

.un-clickable {
  cursor: not-allowed;
}

/* -------- WIDTH -------- */

.standard-width-full {
  width: 100%;
}

.standard-width-screen {
  width: 100vw;
}

.standard-width-fit-content {
  width: fit-content;
}

/* -------- HEIGHT -------- */

.standard-height-full {
  height: 100%;
}

.standard-height-screen {
  height: 100vh;
}

.standard-height-fit-content {
  height: fit-content;
}

/* -------- POSITION -------- */

.standard-position-absolute {
  position: absolute;
}

.standard-position-relative {
  position: relative;
}

.standard-position-fixed {
  position: fixed;
}

/* -------- OVERFLOW -------- */

.standard-overflow-hidden-x {
  overflow-x: hidden;
}

.standard-overflow-hidden-y {
  overflow-y: hidden;
}

.standard-overflow-auto-x {
  overflow-x: auto;
}

.standard-overflow-auto-y {
  overflow-y: auto;
}

.standard-overflow-scroll-x {
  overflow-x: scroll;
}

.standard-overflow-scroll-y {
  overflow-y: scroll;
}

/* -------- TRANSITION -------- */

.standard-transition-all {
  transition: all 0.23s ease;
}

.standard-transition-transform {
  transition: transform 0.23s ease;
}

.standard-transition-scale-on-hover:hover {
  transform: scale(1.05);
}

.standard-transition-scale-large-on-hover:hover {
  transform: scale(1.1);
}
