.header {
  height: rem(80px);
  margin-bottom: rem(120px);
  background-color: var(--secondary-color);
  z-index: 1000;
}

.inner {
  padding-top: 20px;
  height: rem(56px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logotext {
  padding-right: 3em;
  align-self: flex-start;
  color: var(--background-color);
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;

  @mixin hover {
    color: light-dark(var(--mantine-color-gray-0), var(--background-color));
  }
}
