.card {
  max-width: 40%;
  margin: 40px;
  background-color: teal;
}

.image {
  border-radius: 20%;
}

.event {
  margin-left: 40px;
}

.header{
  color: white;
  font-weight: 700;
  font-size:larger;
}

.button{
  background-color: var(--green-color);
}

.page{
  display: flex;
  justify-content: center;
}

.text{
  color:white;
}