.footerContainer{
  background-color: var(--secondary-color);
}

.headerFooting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  text-align: right;
}

.headerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footerForm {
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin-right: 5px;
}
.contactTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--primary-color); /* Adjust color as needed */
  text-align: center;
}

.footerLogo {
  max-width: 200px; /* Adjust size as needed */
  margin-left: 10px; /* Add space between logo image and the form */
}

