.mission-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding: 10px;
  border-radius: 4em;
  gap:200px;
  
}
.mission-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  border-radius: 4em;
  
  font-size:24px;
}

.image1 {
  border-radius: 4em;
  height: 200px;
  width: 200px;
}

.imageGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 4em;
  gap:20px;
}

.mission-group2 {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  border-radius: 4em;
}