.mission-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  border-radius: 4em;
}
.mission-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  border-radius: 4em;
}

.image1 {
  border-radius: 4em;
  height: 200px;
}


.imageGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 4em;
}

.mission-group2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4em;
}
